<% layout('/layouts/boilerplate') -%>
<body>
        <h3>Listing Details</h3>
        <div class="row row-cols-6 offset-3">
            <img src="<%=listing.image.url%>" alt="listing image" class="show-img col">
        </div>
    <div class="row row-cols-1 offset-3">
        <p>
            <b><%=listing.title%></b> <br>
            "<%=listing.description%>" <br>
            <b>&#8377;<%=listing.price.toLocaleString("en-In")%>/night</b><br>
            <%=listing.location%>,<br>
            <%=listing.country%><br>
        </p>
    </div>

    <div class="row row-cols-6 offset-3 show-btn">
    <form action="/listings/<%=listing._id%>/edit" method="get">
        <button class="btn btn-dark edit-btn">Edit</button>
    </form>
    <br>
    <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
        <button class="btn btn-dark delete-btn">Delete</button>
    </form>
</div>
</body>
